<%- include('header') %>
<h1>Convert My Money</h1>

<form method="GET" action="/cotacao">
    <input name="cotacao" type="number" placeholder="Cotação do Dolar"><br>
    <input name="quantidade" type="number" placeholder="Quantidade de Dolares"><br>
    <button>Convert</button>
</form>














<%- include('footer') %>